{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "semi": ["error", "always"],
    "quotes": ["error", "single"]
  }
}