{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "indent": ["error", 4],
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-trailing-spaces":"error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}